# SDN WITH OPENSTACK (BOOK)
# archivos .doctree para cada archivo dentro del directorio sdn-with-openstack-book (misma organización que la fuente)
docs/build/doctrees/topics/sdn/sdn-with-openstack-book/*
# imágenes dentro de build/html (directorio de imágenes de toda la página, comparten el mismo directorio)
docs/build/html/_images/controller-gui.png
docs/build/html/_images/image_01_*.jpg
docs/build/html/_images/image_02_*.jpg
docs/build/html/_images/image_03_*.jpg
docs/build/html/_images/image_04_*.jpg
docs/build/html/_images/image_05_*.jpg
docs/build/html/_images/networknamespace-ovs.png
docs/build/html/_images/ovs-dlux-nodes.png
docs/build/html/_images/ovs-dlux-topology.png
docs/build/html/_images/ovs-odl-topology.png
docs/build/html/_images/topology-final.png
# archivos .txt para cada archivo dentro del directorio sdn-with-openstack-book (misma organización que la fuente)
docs/build/html/_sources/topics/sdn/sdn-with-openstack-book/*
# archivos .html para cada archivo dentro del directorio sdn-with-openstack-book (misma organización que la fuente)
docs/build/html/topics/sdn/sdn-with-openstack-book/*
# archivos .rst creados por mí (fuente)
docs/source/topics/sdn/sdn-with-openstack-book/*

# MASTERING KVM VIRTUALIZATION
# archivos .doctree para cada archivo dentro del directorio mastering-kvm-virtualization-book (misma organización que la fuente)
docs/build/doctrees/topics/virtualization/mastering-kvm-virtualization-book/*
# imágenes dentro de build/html (directorio de imágenes de toda la página, comparten el mismo directorio)
docs/build/html/_images/ch01-*.png
docs/build/html/_images/ch02-*.png
docs/build/html/_images/ch03-*.png
docs/build/html/_images/ch04-*.png
docs/build/html/_images/ch05-*.png
# archivos .txt para cada archivo dentro del directorio mastering-kvm-virtualization-book (misma organización que la fuente)
docs/build/html/_sources/topics/virtualization/mastering-kvm-virtualization-book/*
# archivos .html para cada archivo dentro del directorio mastering-kvm-virtualization-book (misma organización que la fuente)
docs/build/html/topics/virtualization/mastering-kvm-virtualization-book/*
# archivos .rst creados por mí (fuente)
docs/source/topics/virtualization/mastering-kvm-virtualization-book/*
